 <beans xmlns="http://www.springframework.org/schema/beans" 
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
 xmlns:context="http://www.springframework.org/schema/context" 
 xmlns:aop="http://www.springframework.org/schema/aop" 
 xmlns:util="http://www.springframework.org/schema/util"
 xsi:schemaLocation="http://www.springframework.org/schema/beans 
 http://www.springframework.org/schema/beans/spring-beans-3.0.xsd  
 http://www.springframework.org/schema/aop  
 http://www.springframework.org/schema/aop/spring-aop-3.0.xsd 
 	 http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context-3.0.xsd
    http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.0.xsd">
    

 	<!-- import resource="b.xml"/ -->
<aop:aspectj-autoproxy /> 	
	<!-- context:component-scan base-package="factorypack"></context:component-scan>
	<context:component-scan base-package="factorypack"></context:component-scan -->
	
	<bean id="welcome" class="factorypack.WelcomeAdvice"/>
	<bean id="factory" class="factorypack.BataShoeFactory"/>
	<bean id="ramuShoeShop" class="factorypack.RamuShoeShop" autowire="byName">
		
	</bean>
	
	
	
	
	
	
	
	
	
	
	
	<util:properties id="fooprop" location="classpath:annodemo/foo.properties"/>
	
	<!-- bean id="carTarget" class="intropack.Car" scope="prototype"></bean>

    <bean id="paintCarMixing" class="intropack.PaintCarMixing" scope="prototype"></bean>

    <bean id="paintColorAdvisor" class="org.springframework.aop.support.DefaultIntroductionAdvisor" scope="prototype">
        <constructor-arg>
            <ref bean="paintCarMixing"/>
        </constructor-arg>
    </bean>

    <bean id="car" class="org.springframework.aop.framework.ProxyFactoryBean">
        <property name="proxyTargetClass"> <value>true</value> </property>
        <property name="interceptorNames">
            <list>
                <value>paintColorAdvisor</value>
            </list>
        </property>
        <property name="target"> <ref bean="carTarget"/> </property>
    </bean -->
 
</beans>